<h2>Employee List</h2>
<div>
    <a href="sort-dob" class="link-primary">Sort Date of Birth</a>
</div>
<div class="col-md-8">
    <div class="form-group">
        <input type="searchValue" class="form-control" id="Search=" 
        placeholder="searchValue" [(ngModel)]="searchValue" >
      </div>    
</div>
<table class="table table-striped">
    <thead>
        <tr>
            <th (click) = "sortName('sortName')">First Name</th>
            <th>Last Name</th>
            <th>Email Id</th>
            <th>City</th>
            <th>Date Of Birth</th>
            <th>Date of Joining</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor = "let employee of employees | employeeFilter:searchValue">
            <td>{{employee.firstName}}</td>
            <td>{{employee.lastName}}</td>
            <td>{{employee.emailId}}</td>
            <td>{{employee.city}}</td>
            <td>{{employee.dob}}</td>
            <td>{{employee.doj}}</td>
            <td>
                <button (click) = "updateEmployee(employee.id)" class="btn btn-info"> Update</button>
                <button (click) = "deleteEmployee(employee.id)" class="btn btn-danger" style="margin-left: 10px"> Delete</button>
                <button (click) = "employeeDetailsData(employee.id)" class="btn btn-info" style="margin-left: 10px"> View</button>
            </td>
        </tr>
    </tbody>
</table>
